@font-face {
    font-family: consolas;
    src: url(consola.ttf);
}
@font-face {
    font-family: segoeui;
    src: url(segoeui.ttf);
}
.gwiazdyDriver{
    width: 20px;
}
.red{
    color: red;
}
#data-dsp-container{
    outline: 1px dashed green;
    width: max-content !important;
}
#live-data-dsp{
    border: 1px red solid;
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
}
#live-data-dsp:empty {
    border: none;
}
#data-dsp{
    display: inline-block;
}
.vehicle-h2{
    margin-bottom: 0;
    cursor: pointer;
}
.v-info-container{
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    /*transition: max-height 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.2s ease-in;*/
    transition: max-height 0.5s cubic-bezier(0, 0, 0.2, 1), opacity 0.2s ease-in;
}
.v-info-container.showVInfo{
    max-height: 100px;
    opacity: 1;
}
.v-info-hr{
    width: 170px;
    float: left;
}

/*.reg-no:not(:empty){
    background: url(images/pl.png) no-repeat #ffffff;
    border: 2px solid black;
    border-radius: 3px;
    font-weight: bolder;
    font-family: sans-serif, Lucida Console, Monaco, monospace;
    width: 107px;
    height: 25px;
    display: block;
    font-size: 21px;
    text-align: center;
    padding-left: 13px;
    padding-top: 1px;

    transform: scale(80%);

}*/

.v-info-icon{
    width: 40px;
    float: left;
}
.v-info-model-s{
    display: block;
}
.v-info-model-s:not([reg-data=""]){
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
    margin-bottom: 8px;
    
}
.reg-info{
    display: block;
}
.reg-info[reg-data=""]{
    display: none;
}

#linia-wozy-nieride{
    display: inline-block;
}
.wozy-nieride-hr{
    width: 100px;
    border: 1px black solid;
}
.zakladka-div{
    border: 1px black solid;
    width: 500px;
    display: inline-block;
    padding: 7px 0;
    user-select: none;
    background-color: #efefef;
    text-align: left;
}
.zakladka-model{
    /*margin: 16px 0;*/
    margin-left: 25px;
}
.zakladka-ilosc-wozow{
    /*float: left;*/
}
.ilosc-wozy-center{
    /*margin-right: 40px;*/
    float: right;
    width: 80px;
}
.wozy-zakladka-kontener{
    display: none;
}
/*#marki-kontener{
    float: left;
}
#data-wozy-dsp{
    float: right;
}*/
#wozy-data-kontener{
    display: flex;
    justify-content: flex-start;
    /*align-items: center;*/
}
#lista-selected-wozy{
    float: left;
    max-width: 300px;

}
#suma-bold{
    font-weight: bold;
    
}
#suma-p{
    margin: 10px 0 0 0;
    clear: both;
}
.content-freeze{
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin-top: 8px; /*8px*/
}
#content-el{
    width: 100%;
}
/*Zablokować overflow x w content-el i body*/
body{
    overflow-y: auto;
    overflow-x: hidden;
    /*width: 100%; wyłączono*/ 
    margin: 8px;
}
  
#alert-box{
    background-color: rgb(49, 49, 49);
    color: white;
    position: fixed;
    width: 600px;
    height: 200px;
    z-index: 1000; /* Utrzymujemy wysoki z-index, aby był na wierchu */
    top: 25vh;
    left: 50vw;
    /*transform: translate(-50%, -50%);*/
    transform: translate(-50%, -50%) scale(0.98); /* Skalowanie początkowe */
    will-change: transform;
    opacity: 0; /* Ukryty na starcie */
    transition: opacity 0.3s ease, transform 0.2s ease;
    padding: 10px 20px;
    display: none;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* normal */
    transform-origin: center center;
    /*overflow-x: hidden;*/

}
/* Duże telefony i małe tablety (np. 600px–480px) */
@media (max-width: 600px) {
    #alert-box {
        transform: translate(-50%, -50%) scale(0.8) !important;
    }
}
/* Standardowe telefony (np. iPhone 13 ma 390px) */
@media (max-width: 480px) {
    #alert-box {
        transform: translate(-50%, -50%) scale(0.65) !important;
    }
}
/* Mniejsze smartfony (~360px – Samsungi, starsze modele) */
@media (max-width: 400px) {
    #alert-box {
        transform: translate(-50%, -50%) scale(0.55) !important;
    }
}
/* Bardzo małe ekrany (~320px – starsze iPhone SE) */
@media (max-width: 360px) {
    #alert-box {
        transform: translate(-50%, -50%) scale(0.45) !important;
    }
}
@media (orientation: landscape) and (max-height: 500px) {
    #alert-box {
        transform: translate(-50%, -30%) scale(0.70) !important;
    }
}
#alert-box.show {
    display: block; /* Pokazujemy element */
    opacity: 1; /* Widoczny */
    transform: translate(-50%, -50%) scale(1); /* Skalowanie normalne | było 10%*/
}
#alert-box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
#alert-title{
    font-size: 25px;
    font-weight: 500;
    border-bottom: 1px solid white;
}
#alert-close-button{
    border: 0;
    background-color: transparent;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    color: red;
    font-size: 25px;
    transition-duration: 0.3s;
    cursor: pointer;
    user-select: none;
}
#alert-close-button:hover{
    color: rgb(160, 0, 0);
}
.driver-id-profile{
    font-weight: 200;
    color: #dddddd;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 7px 15px;
    transition-duration: 0.3s;
    cursor: pointer;
    /*user-select: none;*/

}
.driver-id-profile:hover{
    color: #add4fd;
}
.id-profile-colored{
    color: #8aff88;
}
.copied-d-id-tooltip{
    visibility: hidden;
    background-color: #414141;
    color: #8aff88;
    text-align: center;
    border-radius: 6px;
    padding: 6px 8px;
    position: absolute;
    bottom: 115%; /* nad linkiem */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    white-space: nowrap;
    border: 1px solid #8aff88;
}
.driver-nick-span{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    display: block;
}
.driver-profile-hr{
    border: 0;
    border-bottom: 1px solid #c7c7c7;
    width: 200px;
}
.driver-personalia-table{
    min-width: 211px;
}
.driver-personalia-span{
    font-weight: 300; /*200*/
    color: #dddddd;
}
.driver-personalia-label{
    text-align: right;
    padding-right: 12px;
}
.driver-personalia-value{
    font-weight: 500;
    display: block;
    height: 19px;
}
.driver-personalia-value .ikonaOcena{
    display: inline-block;
    height: 19px;
}
.driver-personalia-value .gwiazdyDriver{
    max-height: 19px;
    width: auto;
}
.driver-profile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.driver-opis-p{
    text-align: center;
    padding: 0;
    margin: 0 0 5px 0;
    font-weight: 500;
}
.driver-opis{
    background-color: #444;
    border: 1px solid #4da3ff;
    width: 220px;
    /*min-height: 80px;*/
    height: 100px;
    border-radius: 15px;
    padding: 10px 7px;

}
.driver-opis-scroll{
    max-height: 100%;
    overflow-y: auto;
}
.driver-undef-center-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.d-undef-id-p-update{
    position: absolute;
    bottom: auto;
    left: auto;
    padding: 5px 15px 15px 15px;
}
.driver-gwiazdki-panel-td{
    text-align: center;
}





/*TUTAJ NOWY KOD*/






#alert-content{
    clear: both;
}





/*

#black-viniette {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(0);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 10s ease, backdrop-filter 10s ease;
}

#black-viniette.zakryte {
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);
    pointer-events: auto;
}


*/



#black-viniette{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 999;
    backdrop-filter: blur(0) brightness(1);
    transition: backdrop-filter 0.4s ease;
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;
    outline: none; 
    overflow-y: hidden;
    
}
#black-viniette.zakryte{
    display: block;
    backdrop-filter: blur(6px) brightness(0.5);
}
#check-vehicles-button{
    width: 200px;
    height: 40px;
}
#konsola-obszar{
    background-color: black;
    width: 932px;
    min-width: 700px;
    height: 700px;
    flex-direction: column;
    border: 1px solid gray
}
#konsola-pole{
    width: 100%;
    height: 660px;
    overflow-y: scroll;
    line-height: 19px;
    white-space: pre-wrap;
}

/* Stylizowanie paska przewijania */
#konsola-pole::-webkit-scrollbar {width: 16px;}
#konsola-pole::-webkit-scrollbar-track {background: #2b2b2b;}
#konsola-pole::-webkit-scrollbar-thumb {background: #5a5a5a;}
#konsola-pole::-webkit-scrollbar-thumb:hover {background: #888888;}
/* Buttons */
#konsola-pole::-webkit-scrollbar-button:single-button {
    background: #2b2b2b;
    width: 16px;
    height: 16px;

    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}
/* Up */
#konsola-pole::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(90 90 90)'><polygon points='50,00 0,50 100,50'/></svg>");
}
/* Down */
#konsola-pole::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 16px;
    background-position: center 2px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(90 90 90)'><polygon points='0,0 100,0 50,50'/></svg>");
}

.konsola-wpis{
    margin: 0px 0;
    color: white;
    font-family: consolas;
    font-size: 16px;

}
#konsola-input-kontener{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#konsola-symbol{
    color: white;
    font-size: 25px;
    font-weight: 400;
    font-family: monospace;
}
#input-console{
    border: none;
    outline: none;
    color: white;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: consolas;
    font-size: 16px;
}
#lm-page{
    color: red;
}
#map{
    height: 600px;
    max-width: 1000px;
    /*filter: brightness(70%);*/
    background-color: black;
    display: none;
 
}
.leaflet-left, .leaflet-right {
    z-index: 998 !important;
}
.button-odswiez{
    border: none;
    background: none;
    /*color: #3333FF;*/
    color: #307DF0;
    text-decoration: underline;
    cursor: pointer;
    vertical-align: text-bottom;

}
.button-odswiez:hover{
    color: #1B3C6D;
}
.popup-div{
    margin-bottom: 5px;
    font-size: 16px;
    width: 200px;
}
.driver-icon-roz{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.d-icon{
    width: 30px;
}
.d-icon-box{
    width: 31px;
    height: 31px;
}
.d-prowadnica-b{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.driver-info > hr{
    border: none;
    height: 1px;
    background-color: black;
}
#tracking-info{
    color: red;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 998;
    font-family: monospace;
    font-size: 18px;
    user-select: none;
    text-shadow: #000000 1px 0px 3px;
}
#calcel-a{
    color: red;
    font-size: 14px;
    font-family: monospace;
    text-decoration: underline;
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: transparent;
    padding: 2px;
}
#calcel-a:hover{
    text-decoration: none;
    color: rgb(255, 71, 71);

}
#tracking-vmax{
    color: red;
    position: absolute;
    right: 10px;
    z-index: 998;
    font-family: monospace;
    font-size: 18px;
    user-select: none;
    /*text-shadow: #000000 2px 0 7px;*/
    text-shadow: #000000 1px 0px 3px;
}

.show-stops-btn{
    background-color: transparent;
    /*padding: 9px 15px;
    border-radius: 10px;
    border: 1px rgb(87, 87, 87) solid;*/
    cursor: pointer;

    text-decoration: underline;
    border: 0;
    padding: 0;


}

.tabela-godziny {
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: 'Segoe UI';
    /*min-width: 573px;*/
    width: 573px;
    margin-top: 10px;

    /*display: none;*/

    
    
}
/*.tabela-godziny.showTable{
    max-height: 500px;
    opacity: 1;
}*/

.table-wrapper{
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease, opacity 0.3s ease;
}

.table-wrapper.showTable{
    max-height: 3000px;
    opacity: 1;
}

.tabela-godziny td, .tabela-godziny th {
    border: 1px solid black;
    padding: 7px 20px;
}
.tabela-godziny th{
    background-color: #d3d9de;
}
.sup-delay{
    color: red;
    display: inline-block;
    position: absolute;
}
.old-stop{
    color: gray;
}
.td-center{
    text-align: center;
}
.brak-stops-warn{
    color: red;
    text-align: center;
    font-weight: 600;
}